.header {
  &-top,
  &-main {
    background-color: $primary;
  }

  &-top {
    border-bottom: 1px solid lighten($primary, 5%);
    padding: 8px 0;

    @include transition(all 0.5s);
  }

  &-contact-info,
  &-social-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &-contact-info {
    li {
      padding: 4px 0;
      text-align: center;

      a {
        &:hover,
        &:focus,
        &:hover {
          color: $primary;
        }
      }
    }
  }

  .navbar {
    &-nav {
      .nav-item {
        .nav-link,
        .dropdown-toggle {
          display: block;
          padding-top: 8px;
          padding-bottom: 8px;
          text-decoration: none;
        }

        .dropdown {
          &-menu {
            padding: 8px 20px;

            .nav-link {
              color: $gray-800;
            }
          }
        }
      }
    }

    .custom-logo-link {
      .custom-logo {
        border-radius: 6px;
        height: auto;
        width: 60px;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .header {
    &-contact-info {
      li {
        padding: 4px 8px 4px 0;
      }
    }

    &-social-links {
      li {
        padding: 4px 0 4px 8px;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .header {
    &-main {
      .navbar {
        padding: $spacer 0;

        &-nav {
          & > .nav-item {
            padding: 0 0 0 30px;

            & > .nav-link {
              border-bottom: 2px solid transparent;
            }

            &.active {
              & > .nav-link {
                border-color: $white;
                color: $white;
              }
            }
          }

          .nav-link,
          .dropdown-toggle {
            color: $white;
            padding-left: 0;
            padding-right: 0;

            &:hover,
            &:focus,
            &:active {
              border-color: $white;
              color: $white;
            }
          }
        }

        .custom-logo-link {
          .custom-logo {
            position: absolute;
            top: 15px;
            width: 100px;
            z-index: 999;
          }
        }
      }
    }
  }
}